.TodoScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 150px;
  height: auto;
  padding: 10px;
  outline-width: 0;
  border-radius: 5px;
  font-size: 13px;
}

.AddButton {
  background-color: #0b60b0;
  color: white;
  width: 50px;
  height: auto;
  padding: 10px;
  margin-left: 10px;
}
